<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".OfflineData"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/appTheme"
        tools:targetApi="n">

        <activity android:name=".TermsAndConditions" />
        <activity android:name=".AudioPlayer" />
        <activity
            android:name=".AudioPlayerOffline"
            android:exported="false" />
        <activity
            android:name=".OfflineAudioStory"
            android:exported="false" />
        <activity
            android:name=".Download_StoryPage"
            android:hardwareAccelerated="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ID" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".StoryPage"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".Collection_detail"
            android:screenOrientation="portrait" />
        <activity android:name=".admin_panel" />
        <activity android:name=".Notification_Story_Detail" />
        <activity android:name=".Notification_StoryPage" />
        <activity android:name=".Download_Detail" />
        <activity
            android:name=".Collection_GridView"
            android:screenOrientation="portrait"
            android:theme="@style/appTheme" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>